<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Maximizer.Conversion.SFDC.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  
  <log4net>
    <appender name="FileAppender" type="log4net.Appender.FileAppender">
      <file type="log4net.Util.PatternString" value="%property{LogName}"/>
      <appendToFile value="true"/>
      <lockingModel type="log4net.Appender.FileAppender+ExclusiveLock"/>
      <layout type="log4net.Layout.PatternLayout">
        <header value="@@@@@@@ DATA CONVERSION START @@@@@@@
"/>
        <footer value="@@@@@@@ DATA CONVERSION END @@@@@@@
"/>
        <conversionPattern value="%date [%thread] %level  {%logger} - %message%newline"/>
      </layout>
    </appender>
    <root>
      <appender-ref ref="FileAppender"/>
    </root>
  </log4net>
  <userSettings>
    <Maximizer.Conversion.SFDC.Properties.Settings>
      <setting name="LogFolder" serializeAs="String">
        <value/>
      </setting>
    </Maximizer.Conversion.SFDC.Properties.Settings>
  </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup></configuration>
